/* BLAST part */
.blast-content{
    /*border-spacing  :0px;*/
    font-size       :14px;
    color           :black;
    margin          :0 auto;
    width           :1000px;
    /*margin          :0 0 0 2em;*/
}
.blast-content label {
    font-weight     :bold;
    margin-right    :5px;
}
.blast-content legend, .content-label {
    background-color:#dfe8f6;
    border          :1px solid #a3bae9;
    color           :#336699;
    font-size       :100%;
    margin          :0;
    padding         :3px 11px;
    top             :0;
}
.blast-content fieldset {
    margin          :5px 5px;
    padding         :7px 11px;
    border          :1px solid #999;
    background-color:#f2f2f2;
    /*float           :left;
    width           :460px;
    min-height      :110px;*/
    
}
#fieldset-id-selection, #fieldset-sequence-selection{
    float           :left;
    width           :450px;
    height          :190px; 
}
.blast-content .blast-selection{
    width           :50%;
}
.blast-content .blast-sequence-selection textarea{
    font-size       :11px;
    font-family     :monospace;
}
.blast-content .column, .blast-input {
    float           :left;
    display         :inline;
}
.blast-content .blast-input-row{
    width           :100%;
    float           :left;
}
.blast-content fieldset div{
    margin          :0 0 5px 0;
}
.blast-content .separated-label {
    display         :block;
    float           :left;
    line-height     :1.2em;
    margin          :0;
    padding         :0;
    text-align      :left;
    width           :14em;
}
.blast-content #blast-database-option-info.infobox{
    padding         :2px 7px;
    float           :right;
}
.blast-content .infobox{
    float           :left;
    color           :#666666;
    font-size       :95%;
    font-weight     :bold;
}

.blast-content #blast-parameters .infobox{
    width   : 740px;
}
.blast-content select {
    width : 370px;
    font-size:12px;
    margin-right:15px;
}
.blast-content #blast-parameters select, .blast-content #blast-parameters input {
    width : 100px;
}
.blast-content .filler{
    width : 100%;
    display: block;
    margin          :5px 0;
    padding         :7px 11px;
    border          : 1px solid #999;
    background-color: #f2f2f2;
    float : left;
    text-align: center;
}
#separator{
    float:left;
    width:32px;
    text-align: center;
    padding-top : 100px;
}
#run-blast {
    background      :#4C5E81 url(../images/sprite.gif) repeat-x scroll 0 -555px; 
}
.content{
    background      :#FFFFFF none repeat scroll 0 0;
    padding-top         :25px;
    font-size       :14px;
    margin          :0;
    position        :relative;
    z-index         :0;
}
.content pre{
    padding: 0;
    margin :0;
    font-size :13px;
}
.content .block-container-label {
    float:none !important;
    height:auto !important;
    max-height:none !important;
    max-width:none !important;
    min-height:0 !important;
    min-width:0 !important;
    padding-left:2px;
    padding-right:2px;
    white-space:nowrap;
    
    margin: 0;
    margin:-1em 1em;
    background-color:#DFE8F6;
    border:1px solid #A3BAE9;
    color:#336699;
    font-size:100%;
    width: 200px;
    padding:3px 11px;
    top:0;
    position: relative;
    z-index:2;

}
.block-container {
    height          :auto;
    border-top      :1px solid #A3BAE9;
    padding         :20px 10px 10px 10px;
    margin-bottom   :15px;
    position        :relative;
    z-index         :1;
}
.block-container table {
    font-size: 13px;
    width : 80%;
    border-collapse : collapse;
}
.block-container table{
    border-color: transparent;
}
.block-container table th{
    background-color: transparent;
}
#blast-graph {
    text-align : center;
    padding-left:0px;
}

.run-blast-warning img#loader{
    padding-left : 10px;
    text-align : bottom;
}
table, td, th {
    border-color:gray;
}
.warning {
    float:left;
    font-size:90%;
}