<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title> 
            [% header or template.title or "Dictybase page" %] 
		</title>

        [% PROCESS config.tt %]
    
        [% js_link (src = "/static/dictytools/js/yui/build/yahoo/yahoo.js"); %]
        [% js_link (src = "/static/dictytools/js/yui/build/yuiloader/yuiloader-min.js"); %]

    </head>
[% IF no_header != 1 %]
    [% INCLUDE "tbar.tt" %]
[% END %]