[% META
loader 		= 'true'
%]
<script type="text/javascript">

var loader = new YAHOO.util.YUILoader({
    base: '/inc/js/yui/build/',
    loadOptional: true
});

loader.addModule({
    name: 'blast',
    type: 'js',
    fullpath: '/inc/js/custom/blast.js',
    requires: [
    'yahoo',  'logger', 'event', 'blast_css', 'button','connection'
    ]
});

loader.addModule({
    name: 'blast_css',
    type: 'css',
    fullpath: '/static/dictytools/css/blast.css'
});

loader.addModule({
    name: 'bubbling',
    type: 'js',
    fullpath: '/inc/js/yui/plugins/bubbling/bubbling-min.js'
});

loader.addModule({
    name: 'tooltips',
    type: 'js',
    fullpath: '/inc/js/yui/plugins/tooltips/tooltips-min.js',
    requires: ['bubbling']
});

loader.require('blast');
loader.insert();
</script>

<div class="dicty-content">
    <div class="wrapper">
        <div id="subnav" class="subnav navbar">
            <div class="inner_container">
                <h3> BLAST Report </h3>
            </div>
        </div>
        <div class="container" id="blast-results">
            <div class="content">
                <div class="block-container-label">General Information</div>
                <div id="blast-header" class="block-container">
                    [%top%]
                </div>
                <div class="block-container-label">Graphic Summary</div>       
                    <div id="blast-graph" class="block-container">
                    [%graph%]
                </div>
                <div class="block-container-label">Descriptions</div>
                    <div id="blast-table" class="block-container">
                    [%table%]
                </div>
                <div class="block-container-label">Alignments</div>
                    <div id="blast-result" class="block-container">
                    [%results%]
                </div>
                <div class="block-container-label">Parameters</div>
                    <div id="blast-parameters" class="block-container">
                    [%parameters%]
                </div>
                <div class="block-container-label">Statistics</div>
                    <div id="blast-statictics" class="block-container">
                    [%statistics%]
                </div>
            </div>
        </div>
    </div>
</div>